:root {
    --dominant-color: black;
    --main-accent-color: rgba(77, 130, 229, 1.0);
    --secondary-accent-color: rgba(77, 130, 229, 0.25);
    --contrast-accent-color: black;
}

html { 
    background: url("../img/blue-gradient-wallpaper.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Full-width input fields */
input[type=email], input[type=password] {
    padding: 12px 20px;
    margin: 16px;
    display: inline-block;
    box-sizing: border-box;
}

.vertical {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.loginArea {
    background-color: white;
    position: fixed;
    width: 400px;
    top: calc(50% - 150px);
    left: calc(50% - 200px); 
    border-radius: 7px;
    border: 1px solid var(--main-accent-color);
}

.loginAreaButtons {
    display: flex;
}
  
.equalWidth {
    flex-basis: 100%;
}

.mainContainer {
    max-width: 60%;
    min-width: 30em;
    margin: auto;
    
    transition-duration: .3s;
    transition-property: *;

    font-family: 'Roboto'; font-size: 18px;
}

.chart {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid var(--main-accent-color);
    border-radius: 7px;
    margin-top: 5pt;
    padding: 5pt;
}

.newChartSetup {
    margin: auto;
    padding: 5pt;
    background-color: var(--secondary-accent-color);
    width: 100%;
    border: solid var(--main-accent-color);
    border-width: 1px 0px 1px 0px;
}

#btnNewChart {
    margin: auto;
}

#chart {
    width: 30em;
    margin: auto;
}

#user {
    color: var(--main-accent-color);
}

.button {
    margin: auto;
    border: 1px solid var(--main-accent-color);
    border-radius: 3px;
    padding: 8px 30px;
    margin: 3px;
    background-color: var(--main-accent-color);
    display: inline-block;
    color: var(--contrast-accent-color);
    font-weight: bold;
}

.loginButton {
    margin: auto;
    border: 1px solid var(--main-accent-color);
    border-radius: 3px;
    padding: 8px 30px;
    margin: 16px;
    background-color: var(--main-accent-color);
    display: inline-block;
    color: var(--contrast-accent-color);
    font-weight: bold;
}

.navbarButton {
    margin: auto;
    border: 0px solid rgba(255, 255, 255, 0.8);
    padding: 8px 30px;
    margin: 3px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    
    font-weight: bold;
    font-size: 12pt;
}

.navbarButton:hover {
    color: rgba(255, 255, 255, 1);
}

.button:hover {
    background-color: var(--contrast-accent-color);
    color: var(--main-accent-color);
}

.loginButton:hover {
    background-color: var(--contrast-accent-color);
    color: var(--main-accent-color);
}

.button:active {
    background-color: var(--main-accent-color);
    color: var(--contrast-accent-color);
}

.bordered {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.navbar {
    padding: 5pt;
    margin: 0pt 0pt 15pt 0pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0);
}

.hide {
    display: none;
}
