:root {
    --dominant-color: black;
    --main-accent-color: rgba(77, 130, 229, 1.0);
    --secondary-accent-color: rgba(77, 130, 229, 0.25);
    --contrast-accent-color: black;
}

.body-container {
    margin: 0;
    
    transition-duration: .3s;
    transition-property: *;

    font-family: 'Roboto'; font-size: 18px;
    background-color: var(--dominant-color);
  }

.mainContainer {
    max-width: 70%;
    min-width: 30em;
    margin: auto;
    background-color: var(--dominant-color);
}

.newChartSetup {
    margin: auto;
    padding: 5pt;
    background-color: var(--secondary-accent-color);
    width: 100%;
    border: solid var(--main-accent-color);
    border-width: 1px 0px 1px 0px;
}

#btnNewChart {
    margin: auto;
}

.center {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#chart {
    width: 30em;
    margin: auto;
}

#user {
    color: var(--main-accent-color);
}

.button {
    margin: auto;
    border: 1px solid var(--main-accent-color);
    border-radius: 3px;
    padding: 8px 30px;
    margin: 3px;
    background-color: var(--main-accent-color);
    display: inline-block;
    color: var(--contrast-accent-color);
    font-weight: bold;
}

.button:hover {
    background-color: var(--contrast-accent-color);
    color: var(--main-accent-color);
}

.button:active {
    background-color: var(--main-accent-color);
    color: var(--contrast-accent-color);
}

.navbar {
    padding: 5pt;
    margin: 0pt 0pt 15pt 0pt;
    border-width: 0pt 0pt 1pt 0pt;
    border-style: solid;
    border-color: var(--main-accent-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--secondary-accent-color);
}

.hide {
    display: none;
}