body {
    font-family: 'Roboto'; font-size: 18px;
    margin: 0;
}

.mainContainer {
    max-width: 70%;
    margin: auto;
}

#btnNewChart {
    margin: auto;
}

#chart {
    width: 30em;
}

#user {
    color: rgb(29, 91, 206);
}

.button {
    border: 1px solid rgba(77, 130, 229, 1.0);
    border-radius: 3px;
    padding: 8px 30px;
    margin: 3px;
    background-color: rgba(77, 130, 229, 1.0);
    display: inline-block;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: white;
    color: rgba(77, 130, 229, 1.0);
}

.button:active {
    background-color: rgba(77, 130, 229, 1.0);
    color: white;
}

.Message {
    background-color: aqua;
    padding: .5em;
    margin-top: .5em;
    /* margin-bottom: .5em; */
    border-radius: 5pt 5pt 0pt 0pt;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: blue;
}
.Message:hover {
    background-color: blue;
}
.Status {
    background-color: aquamarine;
    text-align: right;
    border: solid blue;
    border-width: 0pt 1pt 1pt 1pt;
    border-radius: 0pt 0pt 5pt 5pt;
    padding: 2px 5px;
    font-size: 0.75em;
}

.navbar {
    padding: 5pt;
    margin: 0pt 0pt 15pt 0pt;
    border-width: 0pt 0pt 1pt 0pt;
    border-style: solid;
    border-color: rgba(77, 130, 229, 1.0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(77, 130, 229, 0.25);
}

.hide {
    display: none;
}